/* funni 8*/

body {
    padding: 0;
    margin: 0;
    background-color: #000000;
}

#home {
    grid-template-columns: 20% 80% !important;
}

.celeste-logo {
    width: 20vw;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 10vh;
}

header {
    position: relative;
    height: 15vh;
    width: 100vw;
    display: block;
    background-image: linear-gradient(to bottom right, #2b0b23, #0d1631);
    padding-top: 1.5vh;
}

h3 {
    color: #70c9e6;
    margin: 0;
    text-shadow: 5px 5px #675c83;
    width: 80vw;
    font-family: "Celeste", sans-serif;
}

p {
    color: white;
    font-family: "Celeste";
    width: 50%;
    margin: 20px auto;
}

header img {
    width: auto;
    height: 12vh;
    margin: 0 auto;
    display: block;
}

.mad {
    color: rgb(255, 94, 94);
}

#bar {
    height: 1vh;
    margin-left: 1px;
    width: 80vw;
    background-color: rgb(107, 0, 80);
}