/* funni 8*/

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

.celeste-logo {
    width: 20vw;
    height: auto;
    display: block;
    margin: 0 auto;
}

header {
    position: relative;
    height: 15vh;
    width: 100vw;
    display: block;
    background-image: linear-gradient(to bottom right, #2b0b23, #0d1631);
    padding-top: 1.5vh;
}

header img {
    width: auto;
    height: 12vh;
    margin: 0 auto;
    display: block;
}

#bar {
    height: 1vh;
    width: 100vw;
    background-color: rgb(107, 0, 80);
}