nav {
    padding-top: 4vh;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #2b0b23, #0d1631);
}

nav img {
    width: 12vw;
    height: auto;
    display: block;
}

nav .big {
    font-size: 3.5vw;
}

nav a {
    font-family: "Celeste", sans-serif;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 2vw;
    text-decoration: none;
    width: fit-content;
}

nav a:hover {
    color: #fefd86;
    animation: flash .2s infinite;
}

@keyframes flash {
    50% {
        color: #82f07f;
    }
}

#flash {
    background-color: #2b0b23;
    border: none;
    width: 4vw;
    padding: 3px;
    cursor: pointer;
    color: white;
    font-family: "Noto Sans", sans-serif;
    border-radius: 4px;
}


/* .card {
    display: block;
    position: relative;
    width: 10vw;
    height: 7.14vw;
    cursor: pointer;
    margin: 0 1vw;
}

.card>div {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 1s;
}

.front {
    box-sizing: border-box;
    background-color: #5e8bff; 
    font-family: "Celeste";
    text-align: center;
    line-height: 7.14vw;
    font-size: 1vw;
    color: white;
    background-image: url(./final.png);
    background-repeat: no-repeat;
    background-size: cover;
}

nav .gap {
    width: 1vw;
    position: relative;
    top: 10px;
}

.card:hover .front {
    transform: rotateX(180deg);
}

.card:hover .back {
    transform: rotateX(0deg);
}

.back {
    position: relative;
    box-sizing: border-box;
    transform: rotateX(180deg);
    backdrop-filter: brightness(50%);
    padding: 10px;
    line-height: 20px;
    box-sizing: border-box;
    background-color: #cf4136;
    text-align: center;
    font-weight: 500;
    color: #f2f2f2;
    font-family: "Noto Sans", sans-serif;
    border-radius: 6px;
    border: 6px solid #fff;
}

.back p {
    z-index: 10;
}

.back img {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
    object-position: center;
    image-rendering: crisp-edges;
}

.back blackout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
} */